**Spark RDD**

In [1]:
pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/45/b0/9d6860891ab14a39d4bddf80ba26ce51c2f9dc4805e5c6978ac0472c120a/pyspark-3.1.1.tar.gz (212.3MB)
     |████████████████████████████████| 212.3MB 71kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 38.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.1-py2.py3-none-any.whl size=212767604 sha256=b371668c9755336b17841f0f7ce460d3b48945c6951fd236ef1445c0cd210d4e
  Stored in directory: /root/.cache/pip/wheels/0b/90/c0/01de724414ef122bd05f056541fb6a0ecf47c7ca655f8b3c0f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.1

In [ ]:
from pyspark import SparkConf, SparkContext
import collections

conf = SparkConf().setMaster("local").setAppName("Word Counting Example")
sc = SparkContext.getOrCreate(conf = conf)
text_File = sc.textFile('/content/example.txt')
files = (text_File.map(lambda line: line.split(' '))).reduce(lambda x: 1)
print(files)

words = (sc.parallelize(files)).map(lambda word: (word, 1))
counts = words.count()
print("Văn bản trên có " + str(counts) + " từ")

words = words.reduceByKey(lambda x, y: x+y)
mostWord = (words.reduce(lambda a, b: a if a[1] > b[1] else b))
counts_1 = [x[0] for x in words.collect() if (x[1] == mostWord[1])]

print("Các từ '" + ', '.join(map(str, counts_1)) + "' có tần suất xuất hiện nhiều nhất với " + str(mostWord[1]) + " lần")

['MapReduce', 'là', 'một', 'mô', 'hình', 'lập', 'trình,', 'thực', 'hiện', 'quá', 'tình', 'xử', 'lý', 'tập', 'dữ', 'liệu', 'lớn.', 'MapReduce', 'được', 'triển', 'khai', 'trong', 'một', 'số', 'hệ', 'thống,', 'bao', 'gồm', 'triển', 'khai', 'nội', 'bộ', 'của', 'Google', 'và', 'triển', 'khai', 'mã', 'nguồn', 'mở', 'Hadoop', 'phổ', 'biến', 'có', 'thể', 'lấy', 'được,', 'cùng', 'với', 'hệ', 'thống', 'tệp', 'HDFS', 'từ', 'Apache', 'Foundation.', 'MapReduce', 'bao', 'gồm', 'hai', 'pha:', 'map', 'và', 'reduce.', 'Hai', 'pha', 'này', 'được', 'thực', 'hiện', 'liên', 'tiếp', 'nhau.', 'Thủ', 'tục', 'map()', 'sẽ', 'lọc', 'và', 'phân', 'loại', 'dữ', 'liệu,', 'sau', 'đó', 'thủ', 'tục', 'reduce()', 'sẽ', 'tiến', 'hành', 'tổng', 'hợp', 'dữ', 'liệu.', 'Thư', 'viện', 'của', 'map()', 'và', 'reduce()', 'được', 'viết', 'bằng', 'nhiều', 'loại', 'ngôn', 'ngữ', 'khác', 'nhau', 'và', 'được', 'cài', 'đặt', 'miễn', 'phí,', 'phổ', 'biến', 'nhất', 'là', 'Apache', 'Hoop.', 'Nhiệm', 'vụ', 'cụ', 'thể', 'của', 'map()', 'và', 'reduce():']
Văn bản trên có 130 từ
Các từ 'và' có tần suất xuất hiện nhiều nhất với 6 lần

In [3]:
import pyspark
import collections
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder.master("local[2]").appName("Spark RDD").getOrCreate()
flower = [('Daisy', 710), ('Rose', 315), ('Orchid', 640), ('Daisy', 90)]
rdd = spark.sparkContext.parallelize(flower)
count = rdd.reduceByKey(lambda a, b: a + b)
print(count.collect())

[('Daisy', 800), ('Rose', 315), ('Orchid', 640)]

**Spark DataFrame**

In [5]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import collections
ss = SparkSession.builder.master("local[2]").appName("Spark Dataframe").getOrCreate()

ds = [('51800035', 'Phạm Gia Hân', '21', 'Nữ', '100 Lê Văn Lương'),
        ('31800134', 'Lê Thanh Thủy Tiên', '21', 'Nữ', '23 CMT8'),
        ('01700071', 'Trân Quốc Toản', '22', 'Nam', '109 Lý Thường Kiệt'),
        ('51800323', 'Phùng Quốc Thống', '21', 'Nam', '131 Lê Hồng Phong')]
df = ss.createDataFrame(data = ds, schema = ['studentID', 'name', 'age', 'gender', 'address'])
df.show()

+---------+------------------+---+------+------------------+
|studentID|              name|age|gender|           address|
+---------+------------------+---+------+------------------+
| 51800035|      Phạm Gia Hân| 21|    Nữ|  100 Lê Văn Lương|
| 31800134|Lê Thanh Thủy Tiên| 21|    Nữ|           23 CMT8|
| 01700071|    Trân Quốc Toản| 22|   Nam|109 Lý Thường Kiệt|
| 51800323|  Phùng Quốc Thống| 21|   Nam| 131 Lê Hồng Phong|
+---------+------------------+---+------+------------------+

In [6]:
df.select('name', 'age').show() #Hiển thị dữ liệu của các cột được chọn
df.filter(df.age > 21).show() #Hiển thị dữ liệu có giá trị cột age > 20
df.groupBy('age').count().show() #Nhóm giá trị theo cột và đếm số lượng

+------------------+---+
|              name|age|
+------------------+---+
|      Phạm Gia Hân| 21|
|Lê Thanh Thủy Tiên| 21|
|    Trân Quốc Toản| 22|
|  Phùng Quốc Thống| 21|
+------------------+---+

+---------+--------------+---+------+------------------+
|studentID|          name|age|gender|           address|
+---------+--------------+---+------+------------------+
| 01700071|Trân Quốc Toản| 22|   Nam|109 Lý Thường Kiệt|
+---------+--------------+---+------+------------------+

+---+-----+
|age|count|
+---+-----+
| 22|    1|
| 21|    3|
+---+-----+

In [7]:
import pyspark
from pyspark import SparkConf, SparkContext
from pyspark.sql import SparkSession
import collections
ss = SparkSession.builder.master("local[2]").appName("Spark DataFrame").getOrCreate()

df = spark.read.csv("/content/bank.csv", inferSchema = True, header = True)
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- default: string (nullable = true)
 |-- balance: integer (nullable = true)
 |-- housing: string (nullable = true)
 |-- loan: string (nullable = true)
 |-- contact: string (nullable = true)
 |-- day: integer (nullable = true)
 |-- month: string (nullable = true)
 |-- duration: integer (nullable = true)
 |-- campaign: integer (nullable = true)
 |-- pdays: integer (nullable = true)
 |-- previous: integer (nullable = true)
 |-- poutcome: string (nullable = true)
 |-- deposit: string (nullable = true)

In [8]:
df.show()

+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
|age|        job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|deposit|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
| 59|     admin.| married|secondary|     no|   2343|    yes|  no|unknown|  5|  may|    1042|       1|   -1|       0| unknown|    yes|
| 56|     admin.| married|secondary|     no|     45|     no|  no|unknown|  5|  may|    1467|       1|   -1|       0| unknown|    yes|
| 41| technician| married|secondary|     no|   1270|    yes|  no|unknown|  5|  may|    1389|       1|   -1|       0| unknown|    yes|
| 55|   services| married|secondary|     no|   2476|    yes|  no|unknown|  5|  may|     579|       1|   -1|       0| unknown|    yes|
| 54|     admin.| married| tertiary|     no|    184|     no|  no|unknown|  5|  may|     673|       2|   -1|       0| unknown|    yes|
| 42| management|  single| tertiary|     no|      0|    yes| yes|unknown|  5|  may|     562|       2|   -1|       0| unknown|    yes|
| 56| management| married| tertiary|     no|    830|    yes| yes|unknown|  6|  may|    1201|       1|   -1|       0| unknown|    yes|
| 60|    retired|divorced|secondary|     no|    545|    yes|  no|unknown|  6|  may|    1030|       1|   -1|       0| unknown|    yes|
| 37| technician| married|secondary|     no|      1|    yes|  no|unknown|  6|  may|     608|       1|   -1|       0| unknown|    yes|
| 28|   services|  single|secondary|     no|   5090|    yes|  no|unknown|  6|  may|    1297|       3|   -1|       0| unknown|    yes|
| 38|     admin.|  single|secondary|     no|    100|    yes|  no|unknown|  7|  may|     786|       1|   -1|       0| unknown|    yes|
| 30|blue-collar| married|secondary|     no|    309|    yes|  no|unknown|  7|  may|    1574|       2|   -1|       0| unknown|    yes|
| 29| management| married| tertiary|     no|    199|    yes| yes|unknown|  7|  may|    1689|       4|   -1|       0| unknown|    yes|
| 46|blue-collar|  single| tertiary|     no|    460|    yes|  no|unknown|  7|  may|    1102|       2|   -1|       0| unknown|    yes|
| 31| technician|  single| tertiary|     no|    703|    yes|  no|unknown|  8|  may|     943|       2|   -1|       0| unknown|    yes|
| 35| management|divorced| tertiary|     no|   3837|    yes|  no|unknown|  8|  may|    1084|       1|   -1|       0| unknown|    yes|
| 32|blue-collar|  single|  primary|     no|    611|    yes|  no|unknown|  8|  may|     541|       3|   -1|       0| unknown|    yes|
| 49|   services| married|secondary|     no|     -8|    yes|  no|unknown|  8|  may|    1119|       1|   -1|       0| unknown|    yes|
| 41|     admin.| married|secondary|     no|     55|    yes|  no|unknown|  8|  may|    1120|       2|   -1|       0| unknown|    yes|
| 49|     admin.|divorced|secondary|     no|    168|    yes| yes|unknown|  8|  may|     513|       1|   -1|       0| unknown|    yes|
+---+-----------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+-------+
only showing top 20 rows

In [14]:
print(df.columns)
df.select('education', 'job').show()

['age', 'job', 'marital', 'education', 'default', 'balance', 'housing', 'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'deposit']
+---------+-----------+
|education|        job|
+---------+-----------+
|secondary|     admin.|
|secondary|     admin.|
|secondary| technician|
|secondary|   services|
| tertiary|     admin.|
| tertiary| management|
| tertiary| management|
|secondary|    retired|
|secondary| technician|
|secondary|   services|
|secondary|     admin.|
|secondary|blue-collar|
| tertiary| management|
| tertiary|blue-collar|
| tertiary| technician|
| tertiary| management|
|  primary|blue-collar|
|secondary|   services|
|secondary|     admin.|
|secondary|     admin.|
+---------+-----------+
only showing top 20 rows

In [15]:
df.describe('education').show()

+-------+---------+
|summary|education|
+-------+---------+
|  count|    11162|
|   mean|     null|
| stddev|     null|
|    min|  primary|
|    max|  unknown|
+-------+---------+